.productContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 30px;
  background-color: #f8f9fa;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 1200px;
  margin: 2rem auto;
}

.imageContainer {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
  overflow-x: scroll;
  scrollbar-width: thin;
  scrollbar-color: #ccc #f8f9fa;
}

.imageContainer::-webkit-scrollbar {
  width: 6px;
}

.imageContainer::-webkit-scrollbar-thumb {
  background-color: #ccc;
  border-radius: 20px;
}

.productImage {
  min-width: 200px;
  height: 300px;
  object-fit: cover;
  border-radius: 4px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 800px;
  padding: 20px;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
}

.productName {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 10px;
}

.productDescription {
  font-size: 16px;
  color: #555;
  margin-bottom: 10px;
}

.productPrice {
  font-size: 18px;
  color: #000;
  font-weight: bold;
}